@charset "UTF-8";
/* Color Theme Swatches in Hex 
.polaroid-originale-1-hex { color: #D9CDBF; }
.polaroid-originale-2-hex { color: #A67356; }
.polaroid-originale-3-hex { color: #262323; }
.polaroid-originale-4-hex { color: #403A3A; }
.polaroid-originale-5-hex { color: #F2F2F2; }
*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');
@font-face {
    font-family: 'Raleway', sans-serif 'Noto Sans', sans-serif;
    src: url("../fontes/Raleway-VariableFont_wght.ttf");
    src: url("../fontes/NotoSans-Regular.ttf");
    
}

:root{
    --cor0:#D9CDBF;
    --cor1:#A67356;
    --cor2:#262323;
    --cor3:#403A3A;
    --cor4:#F2F2F2;

    --fonte-padrao: Arial, verdana, sans-serif;
    --fonte-headerh1: 'Raleway';
    --fonte-headerh2:'Noto Sans';
    --fonte-h5:'Raleway';

}
*{
    margin: 0px;
    padding: 0px;
}



body{
    background-color: var(--cor0);
    font-family: var(--fonte-headerh1);
}

header{
    background-color: var(--cor2);
    text-align: center;
    padding-top: 30px;
    font-weight: normal;
}

header > h1 {
    color: white;
    font-family: var(--fonte-headerh1);
    font-size: 3em;
    margin-bottom: 10px;
    font-weight: normal;
}
header > h2 {
    color: var(--cor1);
    font-family: var(--fonte-headerh2);
    font-size: 1.5em;
    margin-bottom: 20px;
    font-weight: bold;
    padding: 10px;
}
nav{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 12pt;
    padding: 10px;
}

main{
    
    margin: auto;
    margin-bottom: 30px;
    background-color: var(--cor3);
    padding: 20px;
    border-bottom-left-radius: 10px;
    border: bottom right radius 10px;
}
main h1{
    color: var(--cor2);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

main h2{
    font-family: 'Times New Roman', Times, serif;
    color: var(--cor1);
    font-size: 1.2em;
    font-weight: normal;
}

main > section{
    text-align: center;
}

main img{
    width: 52%;
    padding: 3%;
}
main img.pequena{
    max-width: 350px;
    display: block;
    margin: auto
}
main > div{
    text-align: center;
}
div.video{
    background-color: var(--cor5);
    margin-bottom: 20px;
    margin-top: 0px -20px 20px -20px;
    padding: 0px;
    padding-bottom: 58% ;
    position: relative;
}
div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    
}

footer{
    background-color: var(--cor5);
    color: var(--cor3);
    padding: 10px;
    margin: auto;
    text-align: center;
    font-size: .8em;
}