@charset "UTF-8";
/* Color Theme Swatches in Hex */
.polaroid-originale-1-hex { color: #D9CDBF; }
.polaroid-originale-2-hex { color: #A67356; }
.polaroid-originale-3-hex { color: #262323; }
.polaroid-originale-4-hex { color: #403A3A; }
.polaroid-originale-5-hex { color: #F2F2F2; }

